# Compiled binaries
/bin/
/obj/
*.exe
*.out
*.a
*.so
*.dll
*.dylib

# Object files
*.o
*.obj

# Build directories
/build/
/out/
*.user
*.suo
*.sln
*.vcxproj*
*.cmake
CMakeCache.txt
CMakeFiles/

# Debug files
*.pdb
*.idb
*.ilk
*.db

# IDE specific
.vscode/
__pycache__/
.idea/
*.swp
*.swo

# Data and Outputs
data/